@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    transition: 0.7s;
    
}
header a.logo{
    text-decoration: none;
    /* color: #3A6Cf4; */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

header nav.navigation{
    margin-top: 8px;
}

header nav.navigation a{
    text-decoration: none;
    padding-left: 30px; 
    /* color: #3A6Cf4; */
    font-size: 1.1em;
    font-weight: 500;

}
header nav.navigation a:hover{
    color: blue;
}

/* section{
    padding: 100px 200px;
} */

section.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../recources/img/amal0.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.main div.opacity-class{
    background-color: rgb(1, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    padding: 200px 200px;
}

section.main div.opacity-class h2{
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: 500;
}
section.main div.opacity-class h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
section.main div.opacity-class p{
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

section.main div.opacity-class a.main-btn{
    text-decoration: none;
    color: #f0f0f0;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 15px;
    background-color: #3A6Cf4;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
section.main div.opacity-class a.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}

section.main div.opacity-class div.social-icons a{
    display: inline-block;
    color: #FFF;
    font-size: 1.7em;
    padding-right: 34px;
    transition: 0.3s ease;
}
section.main div.opacity-class div.social-icons a:hover{
    transform: scale(1.1);
}
section.cards{
    padding: 200px 200px;
}
section.cards h1.title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: #3A6Cf4;
    font-size: 2.2em;
    margin-bottom: 30px;
}
section.cards div.content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

section.cards div.content div.card{
    background-color: #FFF;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;

}
section.cards div.content div.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

section.cards div.content div.card div.icon{
    text-align: center;
    color: #3A6Cf4;
    font-size: 8em;
    text-shadow: 0 6px 5px rgba(1, 1, 1, 15%);
}
section.cards div.content div.card div.info h3{
    text-align: center;
    font-size: 1.5em;
    color: #3A6Cf4;
    font-weight: 700;
    margin: 10px;
    text-shadow: 0 5px 5px rgba(1, 1, 1, 15%);
}
section.cards div.content div.card div.info{
    text-align: center;
    font-weight: 300;
}

section.founder{
    padding:  200px;
}

section.founder h1.founder-title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: #3A6Cf4;
    font-size: 2.2em;
    padding-bottom: 60px;
}

section.founder div.cards div.card{
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

section.founder div.cards div.card img.founder-pictures{
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    height: 500px;
    width: 500px;
}
section.founder div.cards{
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 5px 50px 2px rgba(58, 108, 244, 0.45);
}

section.founder div.cards div.card div.description{
    margin: 30px;
    text-align: justify;
    text-align-last: left;
}
section.founder div.cards div.card div.ett{
    width: 20px;
    height: 500px;
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,0.0),
        rgb(250, 250, 250),
        rgb(250, 250, 250)
        );
    left: 45%;
}

section.founder div.cards div.card div.description h4.founder-name{
    font-size: 1.5em;
}